.addTaskContainer {
  padding-top: 80px; /* pushes form below navbar */
  padding-left: 20px;
  padding-right: 20px;
  background-color: gray;
  min-height: 100vh;
  width: 80%;
  margin-left: 10rem;
}

.addTaskContainer h1 {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.addTaskContainer label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: start;
  margin-left: 5rem;
}

.addTaskContainer input,
.addTaskContainer select {
  width: 90%;
  height: 40px;
  padding: 10px;
  margin-top: 8px;
  
  border-radius: 10px;
  border: 2px solid grey;
  font-size: 1rem;
  box-sizing: border-box;
}

.addTaskContainer select option {
  height: 40px;
}

.payment {
  background-color: rgb(209, 200, 150);
  border-radius: 10px;
}
.AddTaskBtn{
  height: 40px;
  width: 10rem;
  background-color: green;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.AddTaskBtn:hover{
  opacity: 0.5  ;
}