.dashboardCon{
  padding-top: 80px; 
  padding-left: 20px;
  padding-right: 20px;
  background-color: gray;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}